/* Make font uniform for entir body: */
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

/* Intro background image: */
.intro {
  /* Make SVG image responsive: */
  background: no-repeat center/100% url(../img/shad_syn_grayscale.svg);
}

/* Change color of social media link buttons: */
.btn-default {
  border: 1px solid #666666;
  color: #666666;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #666666;
  outline: none;
  color: black;
  background-color: #666666;
}

/* Add hacker green text shadow to navbar and intro text: */
.intro .intro-body .intro-text {
  font-size: 2em;
  color: white;
  text-shadow: 4px 4px 4px #24B415;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  text-shadow: 2px 2px 2px #24B415;
}

/* Reduce gap between intro and content sections: */
.content-section {
  padding-top: 50px;
}

#easter-egg {
  font-size: 18px;
  line-height: 1.5;
}

.intro-text {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 2px #24B415;
}
